<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="supplierPushSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8880/SubscriberService/services/subscriber/one"
                binding="basicHttpBinding" bindingConfiguration="supplierPushSoapBinding"
                contract="supplierPushInterface" name="supplierPushSoapEndPoint" />
        </client>
    </system.serviceModel>
</configuration>